/* Bottom Navigation for Mobile */
.mobile-bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 15px;
}

.mobile-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0% 5% 0% 5%;
    /* margin: 5%; */
}

.mobile-nav-list li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly !important;
    align-items: center; /* Center items */
    padding-bottom: 5px; /* Adds some space for the bottom border */
}

.mobile-nav-list li.active {
    border-bottom: 3px solid #0066cc; /* Bottom border for active nav item */
}

.mobile-nav-list li.active svg {
    fill: #0066cc; /* Highlight active item icon */
}

.mobile-nav-list li svg {
    fill: #7a7a7a; /* Default color for icons */
}

@media (min-width: 769px) {
    .mobile-bottom-navbar {
        display: none; /* Hide the bottom nav on larger screens */
    }
}
